<div class="jumbotron">
	
	<h1><i class="fa fa-telegram" aria-hidden="true"></i>
My Tasky</h1>
	<p>This is my smart to Do app, made with Ruby on Rails</p>
	<%= link_to 'Sign up', "#", class: 'btn btn-primary btn-lg'%>
</div>
